.gifblock {
  position: relative;
  margin: 5px;
}

.likebtn {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  color: #dd6d7f;
  border: none;
  border-radius: 0.5em;
  background-color: transparent;
}

.likebtn:hover {
  color: #df4861;
}

.likebtn:active {
  color: #db0d2f;
}
.likebtn:focus {
  outline: none;
  box-shadow: none;
}

#gifcontainer {
  margin: 20px auto;
  margin-top: 80px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 75%;
}
