#favorite-gif-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.favorite-gifs {
  /* margin-right: 50px; */
  position: relative;
  margin: 5px;
}

#deleteBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  border: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 1em;
}

#category-label {
  color: white;
}
